nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5rem;
  background-color: rgb(137, 69, 201);
}


nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  gap: 7rem;
 }


body{
  background-color: #7e22ce;
  font-family: 'poppins', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  gap: 4rem; /* now this WILL work */
}


a {
  color: yellow;
}

 header h1 {
  color: white;
  text-align: center;
  padding: 15rem;
  font-weight: 500;
  border: 22 rem;
  border-radius: 15rem;
 }

.projects:hover,
.about:hover,
.stack:hover,
.hero:hover,
.contact:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(0,0,0,0.35);
}


 .hero{
  background-color:rgb(137, 69, 201);
  color: white;
  display: flex;
  justify-content: center;
  font-weight: 300;
  padding: 3rem 4rem;
  border-radius: 20px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.25);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
 }

 .about{
  background-color:rgb(137, 69, 201);
  color: white;
  padding: 4rem 5rem;
  gap: 20 rem;
  border-radius: 20px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.25);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

 .stack{
  background-color:rgb(151, 104, 195);
  color: white;
  padding: 4rem 5rem;
  border-radius: 20px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.25);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
 }

  .projects{
  background-color:rgb(137, 69, 201);
  color: white;
  padding: 4rem 5rem;
  border-radius: 20px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.25);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

.contact{
background-color:rgb(136, 72, 196);
color: white;
margin-bottom: 20rem;
padding: 4rem 5rem;
border-radius: 20px;
box-shadow: 0 15px 30px rgba(0,0,0,0.25);
transition: transform 0.3s ease, box-shadow 0.3s ease;
}

footer{
  background-color: rgb(71, 6, 133);
}












